* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mark-font: 'Merienda One', cursive;
  --mark-color: rgb(51, 65, 85);
  --primary-light: rgb(240, 248, 255);
  --border-clr: rgb(89, 66, 157);
  --accent-purple: rgb(89, 66, 157);
  --accent-blue: #7a38ff;
  --accent-grey: rgb(131, 125, 125);
}

body {
  font-family: var(--mark-font);
  background-color: var(--primary-light);
  color: var(--accent-purple);
  height: 100dvh;
}

button {
  cursor: pointer;
}

.border-left {
  border-left: .3rem solid var(--border-clr);

}

.border-top {
  border-top: .3rem solid var(--border-clr);

}

/* || Header */
.header {
  padding: 2rem;
  text-align: center;
  background-color: var(--accent-purple);
  color: var(--primary-light);
}

[data-score] {
  color: var(--accent-grey);
}

.gameboard__container {
  display: grid;
  place-items: center;

}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 300px;
  height: 300px;
  color: var(--mark-color);
  position: relative;
  margin-bottom: 2rem;
}

.start__game-ctn {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--primary-light);
  width: 100%;
  height: calc(100% - 6.9rem);
  z-index: 10;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.input__group {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  width: 200px;
}

.input__group label {
  padding-bottom: .4rem;
}

.input__group input {
  padding: .4rem;
  border-radius: 5px;
  border: none;
}

/* Buttons */
.game__button {
  font-size: 1.7rem;
  font-weight: 700;
  padding: .8rem 4rem;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
  z-index: 9;
  background-color: var(--accent-blue);
  color: var(--primary-light);
}

.game__button:hover {
  background-color: var(--accent-purple);
}

#restart-btn {
  display: none;
}

#newGame-btn {
  display: none;
}

.gameboard__tiles {
  display: grid;
  place-items: center;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}

/* Players container */
.player__score-ctn {
  display: flex;
  justify-content: space-around;
  width: min(100%, 700px);
  padding: 1rem 3rem;
}

.player-wrap {
  text-align: center;
  margin-bottom: 2rem;
  text-transform: capitalize;
}



.player-score {
  font-size: 1.7rem;
}

.roundOver,
.gameOver {
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.1rem;
  padding-top: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 6.9rem);
  z-index: 1;

  background: rgb(255 255 255 / .85);
  /* backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(4px); */
}

.gameOver {
  display: none;
  flex-direction: column;
  gap: 2rem;
  z-index: 2;
}

@media (min-width: 43rem) {
  .header {
    margin-bottom: 2rem;
  }

  h1 {
    font-size: 3rem;
  }

  .gameboard {
    width: 600px;
    height: 600px;
    color: var(--mark-color);
    position: relative;
    margin-bottom: 4rem;
  }

  .gameboard__tiles {
    font-size: 5rem;
  }

  .player-name {
    font-size: 1.4rem;
  }

  .player-score {
    font-size: 2.7rem;
  }

  .roundOver,
  .gameOver {
    font-size: 2.1rem;

  }
}